@import "../../../../styles/breakpoint";

.profile {
  display: flex;
  flex-direction: column-reverse;

  @include lg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }

  .name_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
  
}
