@import "../../../../styles/breakpoint";

.verification {
  display: grid;
  grid-template-columns: minmax(300px, 480px);
  .v_details {
    display: block;

    @include sm{
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 20px;
       
    }

    .icon,
    .text {
      margin: auto 0;
    }

    .subtitle {
      font-size: 10px;
    }

    .status_verified {
      background-color: green;
      color: white;
      height: fit-content;
      border-radius: 20px;
      padding: 5px 40px;
      font-size: 10px;
      margin: auto;
    }

    .status_not_verified {
      margin: auto;
    }
  }
}
