@import '../../../../styles/breakpoint';

.verification {
  display: grid;
  grid-template-columns: minmax(300px, 480px);
  .v_details {
    display: block;

    @include sm {
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 20px;
    }

    .icon,
    .text {
      margin: auto 0;
    }

    .subtitle {
      font-size: 10px;
    }

    .status_verified {
      background-color: green;
      color: white;
      height: fit-content;
      border-radius: 20px;
      padding: 5px 40px;
      font-size: 10px;
      margin: auto;
    }

    .status_pending {
      background-color: #ffd200;
      color: black;
      height: fit-content;
      border-radius: 20px;
      padding: 5px 40px;
      font-size: 10px;
      margin: auto;
    }

    .status_not_verified {
      margin: auto;
    }
  }
}

.id_card_form label {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: solid 1.5px #838595;
  transition: all 0.3s;
  border-radius: 10px;
  align-self: center;
  justify-content: center;
}

.id_card_form input[type='radio'] {
  display: none;
}

.id_card_form input[type='radio']:checked + label {
  border: none;
  background-color: #ffd200;
  font-weight: bolder;
  color: #12161c;
}

.idPreview {
  border: solid 1px #838595;
  padding: 2px;
}
