@import "../../styles/breakpoint";

.badge {
  text-align: center;
  font-size: 12px;
  padding: 2px 20px;

  @include lg {
    font-size: 15px;
  }

  div {
    padding: 2.5px 0;
  }

  &[data-type="Completed"] {
    background-color: var(--badge-success);
    color: var(--badge-color);
  }
  &[data-type="Declined"] {
    background-color: var(--badge-danger);
    color: var(--red);
  }
  &[data-type="New"] {
    background-color: var(--badge-success);
    color: var(--dark);
  }
}

.text {
  font-weight: bold;
}
