.btn {
  padding: 0rem 2rem;
  font-family: var(--body-font) !important;
  font-weight: 500;
  color: var(--dark);
  background: var(--primary-color);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  box-shadow: none;
  cursor: pointer;
  outline: none;
  min-height: 52px;

  &[disabled] {
    opacity: 0.55;
    cursor: default;
  }

  &[data-variant='outline'] {
    background-color: transparent;
    color: var(--dark);
    border: 1px solid var(--border-color);
  }
  &[data-variant='stripped'] {
    background-color: transparent;
    color: var(--light);
    border: none;
  }
  &[data-variant='logout'] {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--light);
    width: 100%;
    border: none;
    font-size: 16px;
    height: 60px;

    svg {
      path {
        fill: var(--light) !important;
      }
    }
  }
}
