@import "../../../styles/breakpoint";

.action {
  margin-top: 40px;
  width: 100%;
  height: 60px;
}

.mainContainer {
  display: flex;
  height: 100vh;

  h1 {
    font-size: 48px;
    font-weight: 950;
    line-height: 56px;
  }

  h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .imageContainer {
    display: none;

    @include lg {
      display: block;
      position: relative;
    }
  }

  .femalePotrait {
    position: absolute;
    z-index: 999;
  }

  .rectangle {
    position: absolute;
    left: 36px;
    top: 510px;
  }

  .bigRectangle {
    position: absolute;
  }

  .link {
    color: #2f52e4;
    text-decoration: underline;
  }

  input {
    width: 350px;
    height: 60px;
    border: 1px solid #edeff6;
    border-radius: 4px;
    color: #747474;

    @include lg {
      width: 500px;
      height: 60px;
    }
  }

  .createAccount {
    color: #8c95a0;
  }

  .passwordContainer {
    position: relative;
  }

  .eyeIconContainer {
    position: absolute;
    right: 2rem;
    top: 1rem;
    color: black;
  }

  .checkboxContainer {
    width: 20px;
    height: 20px;
  }

  .checkBoxTextContainer {
    display: flex;
  }
}

.rightContainer {
  width: 100%;
  background: var(--grey);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include lg {
    width: 60%;
    background: var(--grey);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.leftContainer {
  display: none;

  @include lg {
    display: block;
    width: 40%;
    padding: 100px 0 0 150px;
    height: 100%;
  }
}

.forgotPassword {
  font-size: 15px;
  color: #8c95a0;
  margin-left: 5px;

  a {
    color: #2f52e4;
  }
}
