@import "../../../styles/breakpoint";

.button {
  padding: 20px 40px;
  font-family: var(--body-font) !important;
  background-color: #fff;
  border: none;
  outline: none;
  white-space: nowrap;
  cursor: pointer;

  &.active {
    border-bottom: 4px solid #ffd200;
  }
}
