@import "../../../../styles/breakpoint";

// .mainContainer {
//   padding: 0;

//   @include md {
//     padding: 0 200px;
//   }

//   @include lg {
//     padding: 0 300px;
//   }
// }

.cardContainer {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
    justify-content: space-evenly;
  }

  @include lg {
    flex-direction: row;
    justify-content: space-evenly;
  }

  & > div {
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 20px 5px 20px !important;
    line-height: 1.5 !important;
  }
}

.card {
  width: 320px;
  padding: 50px 20px;
  height: 270px;

  @include md {
    width: 320px;
    height: 400px;
  }

  @include lg {
    width: 400px;
    height: 500px;
  }
}

.backText {
  cursor: pointer;
  font-size: 20px;
  display: none;

  @include lg {
    display: block;
  }
}

.createadText {
  font-size: 20px;
  font-weight: bold;
  margin: 0;

  @include md {
    font-size: 30px;
    margin: 20px 0;
  }

  @include lg {
    font-size: 40px;
    margin: 20px 0;
  }
}

.transactionText {
  color: #8b8b8b;
  font-size: 14px;
  margin-bottom: 20px;

  @include md {
    font-size: 18px;
    margin-bottom: 30px;
  }

  @include lg {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.tradeText {
  font-size: 14px;
  margin-bottom: 0;

  @include lg {
    font-size: 20px;
    margin-bottom: 60px;
  }
}

.logoContainer {
  margin: 5px 0 5px 0;

  @include md {
    margin: 30px 0 30px 0;
  }

  @include lg {
    margin: 70px 0 30px 0;
  }
}

.frontLogo {
  position: relative;
  left: -30px;
}

.arrowLogo {
  margin-bottom: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.adText {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;

  @include md {
    font-size: 18px;
    margin-bottom: 20px;
  }

  @include lg {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.arrowContainer {
  font-size: 20px;
}

.backArrow {
  cursor: pointer;
}
