@import "../../../../styles/breakpoint";

.cardContainer {
  width: 500px;
  height: 400px;

  @include md {
    height: 500px;
  }

  @include lg {
    height: 500px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  font-size: 18px;

  @include lg {
    font-size: 24px;
  }
}

.homeButton {
  width: 500px;
  height: 70px;
  font-size: 20px;
}
