:root {
  /*==== COLORS ====*/
  --primary-color: #ffd200;
  --primary-color-light: #fff9de;
  --secondary-color: #009546;
  --secondary-color-light: #e9ffde;
  --base-color: #838595;
  --border-color: #bcbecc;
  --dark: #12161c;
  --grey: #f1f1f3;
  --light: #ffffff;
  --red: #e0475b;
  --status-color: #191e26;

  /*===== TYPOGRAPHY ====*/
  --body-font: 'Gotham', san-serif;
  --normal-font-size: 1rem;
  --normal-font-weight: 300;

  /*==== SIZES ====*/
  --container-size: 1215px;
  --navbar-height: 110px;
}
