@import "../../../../styles/breakpoint";

.mainContainer {
  padding: 0;

  @include lg {
    padding: 0 200px 0 50px;
  }

  .arrowContainer {
    font-size: 20px;
  }

  .postAd {
    font-size: 20px;
    font-weight: bold;

    @include lg {
      font-size: 40px;
    }
  }

  .postText {
    color: #8b8b8b;
    font-weight: bold;
    font-size: 12px;

    @include lg {
      font-size: 20px;
    }
  }

  .backArrow {
    cursor: pointer;
  }

  .cardContainer {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
  }

  .sellText {
    color: #8b8b8b;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 5px;

    @include lg {
      margin-top: 50px;
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  .dropdownInputContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;

    @include lg {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .dropDown {
    width: 300px;
    height: 50px;
    font-size: 16px;
    border: none;
    margin-bottom: 20px;

    @include lg {
      width: 700px;
      height: 70px;
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  .input {
    width: 300px;
    height: 50px;
    font-size: 16px;
    border: none;
    margin-bottom: 0 !important;

    @include lg {
      width: 700px;
      height: 70px;
      font-size: 20px;
    }
  }

  .rateBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 300px;
    height: 50px;
    font-size: 16px;
    color: #8b8b8b;
    background-color: white;

    @include lg {
      width: 700px;
      height: 70px;
      font-size: 20px;
    }
  }

  .referenceText {
    display: flex;
    justify-content: right;
    color: #8b8b8b;
    font-size: 12px;

    @include lg {
      font-size: 20px;
    }
  }

  .timeContainer {
    display: none;
  }

  .buttonContainer {
    margin-top: 40px;

    @include lg {
      margin-top: 100px;
    }
  }

  .proceedButton {
    width: 300px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;

    @include lg {
      width: 500px;
    }
  }
}
