@import '../../styles/breakpoint';

.navbar {
    background-color: var(--dark);
    height: calc(var(--navbar-height) - 2rem); 
    position: sticky;
    top: 0;
    z-index: 1;
    transition: height 2s;

    @include md {
        background-color: var(--dark);
        height: var(--navbar-height); 
    }

    .menu {
        display: flex;
        align-items: center;

        svg:first-child {
            width:2rem;
            margin-right: 1rem;

            @include xl {
                display: none;
            }
        }

        svg:last-child {
            width:8rem;
            margin-right: 1rem;

            @include md {
                width: auto;
            }
        }
    }

    .notification {
        margin-right: 1rem;
        position: relative;
        margin-top: 10px;

        @include md {
            margin-right: 2.5rem
        }
    }
    
    .badge {
        background-color: var(--red);
        border-radius: 14px; 
        color: var(--light);
        position: absolute;
        font-size: 12px;
        top: -15px;
        right: -15px;
        height: 28px; 
        min-width: 28px;
        padding-top: 4px;
        text-align: center;
    }

    .profileImg {
        display: none;
        @include md {
            display: block;
        }
    }
}



