@import '../../../styles/breakpoint';

.deposit {
    display: block;

    @include sm {
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        grid-template-rows: auto;
        gap: 1rem;
    }

} 