@import '../../styles/breakpoint';

.card {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width:100%;
    display: block;
    margin-bottom: 1.75rem;

    @include md {
        display: grid;
        grid-template-columns: 18rem 1fr; 
    }

    .investment {
        padding: 1.75rem;
        border-bottom:1px solid var(--border-color);

        @include md {
            border: none;
            border-right:1px solid var(--border-color);
        }
    }

    .stats {
        padding: 1.75rem;
        display: grid;
    }
}