@import "../../../styles/breakpoint";

.layout {
  .card {
    width: 30rem;
    border: 1px solid var(--border-color);
  }

  .main {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
}
