.confirmAd {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.backArrow {
  cursor: pointer;
}

.transactionText {
  color: #8b8b8b;
  font-size: 20px;
  margin-bottom: 40px;
}

.sendButton {
  width: 450px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.innerContainer {
  width: 500px;
}

input {
  border: 1px solid #edeff6;
  border-radius: 4px;
  margin-bottom: 20px;
}

.topText {
  margin-bottom: 5px;
  text-transform: uppercase;
}
