@import '../../../styles/breakpoint';

.layout {
  background: var(--grey);

  .main {
    display: block;
    min-height: calc(100vh - var(--navbar-height) - 0.7rem);
    width: 100%;

    @include xl {
      display: grid;
      grid-template-columns: 18.75rem 1fr;
      grid-template-rows: auto;
      column-gap: 0 !important;
      min-height: calc(100vh - var(--navbar-height) - 2.625rem);
    }

    aside {
      //display: none;
      line-height: 4;
      position: fixed;
      top: 0;
      z-index: 2;
      height: 100vh;
      transition: 0.3s;
      padding: 15px;
      background-color: var(--side-nav-dark);

      & i {
        display: block;
        position: absolute;
        top: -5px;
        right: 20px;
      }

      @include xl {
        display: block;
        position: sticky;
        z-index: 0;

        & i {
          display: none;
        }
      }

      li {
        margin-left: 20px;
        a {
          opacity: 0.5;
          &:hover {
            opacity: 1;
            color: var(--light);
            svg {
              path {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.mainContainer {
  margin-top: 2.625rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;

  @include lg {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
}

.logout {
  cursor: pointer;
}
