@import '../../../styles/breakpoint';

.home {
  display: grid;

  .accounting {
    display: block;

    @include lg {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }
  }
}

.verify {
  padding: 10px 30px 30px 30px !important;
  line-height: 1.5 !important;
}

.amounts {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  line-height: 1 !important;

  & > div {
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 20px 5px 20px !important;
    line-height: 1 !important;
  }

  @include lg {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
  }
}

.investment {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1rem;

  @include lg {
    grid-template-columns: 40% auto;
    grid-column-gap: 1rem;
  }

  & > div {
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 20px 5px 20px !important;
    line-height: 1.5 !important;
  }
}

.balances {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1rem;

  @include lg {
    grid-template-columns: 30% 30% auto;
    grid-column-gap: 1rem;
  }

  & > div {
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.05);

    &:last-child {
      padding: 0 !important;

      hr {
        border: 0.1px solid var(--dark);
        opacity: 0.3;
      }

      .heading {
        font-size: 20px;
        padding: 20px 20px 0 20px;
        font-weight: 500;
      }

      .payDayGrid {
        display: grid;
        grid-template-columns: auto auto;
        padding: 30px 0 0 20px;

        & > div {
          &:first-child {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.lock {
  overflow-x: none !important;
}

.chart {
  position: relative;

  svg {
    opacity: 1;
  }

  .chartWarning {
    position: absolute;
    top: 45%;
    right: 30%;
    padding: 15px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 50px;
  }
}
